html {
    background-color: wheat;
}

.Total {
    display: flex;
}

.NombreApellido {
    display: block;
    justify-items: right;
}

.MontoDias {
    display: block;
    justify-items: right;
}

.Si-No {
    background: transparent;
    border: none;
    font-size: 14px;
    height: 30px;
    padding: 5px;
    width: 250px;
}